{% extends 'base.html'%}

{% block title %}
	Edit Post 
{% endblock%}

{% block content %}
<div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="navbar-bottom" style="width: auto">
            <div class="p-5">
              <div class="text-center">
                <div class="form-group">
                   <form method="post" >
                       {% csrf_token %}
                       <h1 class="h4 text-gray-900 mb-4">Cập nhật</h1>
                       <label for="id_Maloaivb">Mã loại văn bản:</label>
                       <input type="text" name="Maloaivb"  maxlength="30" required="" id="id_Maloaivb" class="form-control form-control-user" >

                       <label for="id_Name">Name:</label>
                       <input type="text" name="Name" maxlength="200" required="" id="id_Name" class="form-control form-control-user">

                       <label for="id_Type">Type:</label>
                       <input type="number" name="Type" required="" id="id_Type" class="form-control form-control-user">

                       <input type="submit" class="btn btn-primary btn-user btn-block"value="Update"><br>
                       <a class="btn btn-primary btn-user btn-block" href="{% url "news:home-linhvuc" %}">Trở lại</a>
                     </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}