
{% extends "base_home_user.html" %}

<div id="ContentPlaceHolder1_ctl00_udtTinBai">

        <div class="_cs100">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><span class="Arrow_Link_Menu"></span><a href="/danh-muc-tin-tuc/thong-tin-khvacn.html">Thông tin KH&amp;CN</a></li><li><span class="Arrow_Link_Menu"></span><a href="javascript:void(0);" class="Arrow_Link_Menu_active">Tin KH&amp;CN Bình Dương</a></li>
            </ul>
        </div>
        <div class="detail-content">
            <div>
		<table class="grid-table-item" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_ctl00_grid" style="border-collapse:collapse;">
			<tbody><tr>
				<th scope="col">sfds</th>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/so-khoa-hoc-va-cong-nghe-binh-duong-tham-va-lam-viec-tai-truong-cao-dang-cong-nghe-cao-dong-an-3536.html">
                                    <img src="/Media/ntmong/files/Dong%20An.jpg"></a>
                                <a href="/tin-tuc/so-khoa-hoc-va-cong-nghe-binh-duong-tham-va-lam-viec-tai-truong-cao-dang-cong-nghe-cao-dong-an-3536.html">Sở Khoa học và Công nghệ Bình Dương: Thăm và làm việc tại Trường Cao đẳng Công nghệ cao Đồng An</a>
                                <div>
                                    Vừa qua, Sở Khoa học và Công nghệ tỉnh Bình Dương có buổi làm việc với đại diện Ban giám hiệu và toàn thể giảng viên, sinh viên Trường Cao đẳng Công nghệ cao Đồng An nhằm giới thiệu về Trung tâm sáng kiến cộng đồng và Hỗ trợ khởi nghiệp Bình Dương (Binh Duong Innovation Center – BIIC) và chính sách hỗ trợ khởi nghiệp sáng tạo trên địa bàn tỉnh.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a style="display:none;" href="/tin-tuc/so-khoa-hoc-va-cong-nghe-thuc-hien-xay-dung-doi-ngu-tri-thuc-trong-thoi-ky-day-manh-cong-nghiep-hoa-hien-dai-hoa-dat-nuoc-3510.html">
                                    <img src=""></a>
                                <a href="/tin-tuc/so-khoa-hoc-va-cong-nghe-thuc-hien-xay-dung-doi-ngu-tri-thuc-trong-thoi-ky-day-manh-cong-nghiep-hoa-hien-dai-hoa-dat-nuoc-3510.html">Sở Khoa học và Công nghệ: Thực hiện xây dựng đội ngũ trí thức trong thời kỳ đẩy mạnh công nghiệp hóa, hiện đại hóa đất nước</a>
                                <div>
                                    Thực hiện Kế hoạch số 1678/KH-UBND ngày 07/4/2020 của Ủy ban nhân dân tỉnh triển khai thực hiện Quyết định số 142/QĐ-TTg ngày 21/01/2020 của Thủ tướng Chính phủ ban hành Kế hoạch triển khai thực hiện Kết luận số 52-KL/TW ngày 30/05/2019 của Ban Bí thư Trung ương Đảng tiếp tục thực hiện Nghị quyết Hội nghị Trung ương 7 (khóa X) về xây dựng đội ngũ trí thức trong thời kỳ đẩy mạnh công nghiệp hóa, hiện đại hóa đất nước (sau đây gọi tắt là Kế hoạch 1678 của Ủy ban nhân dân tỉnh), Sở Khoa học và Công nghệ xây dựng kế hoạch số 20/KH-SKHCN nhằm phổ biến, quán triệt các nhiệm vụ của Kế hoạch số 1678 của Ủy ban nhân dân tỉnh đến toàn thể cán bộ công chức, viên chức, người lao động trong cơ quan về ý nghĩa, tầm quan trọng việc xây dựng đội ngũ trí thức trong thời kỳ đẩy mạnh công nghiệp hóa, hiện đại hóa đất nước.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/trung-tam-sang-kien-cong-dong-va-ho-tro-khoi-nghiep-tinh-binh-duong-chinh-thuc-di-vao-hoat-dong-2445.html">
                                    <img src="/Media/ntmong/files/IMG_0010.jpg"></a>
                                <a href="/tin-tuc/trung-tam-sang-kien-cong-dong-va-ho-tro-khoi-nghiep-tinh-binh-duong-chinh-thuc-di-vao-hoat-dong-2445.html">Trung tâm Sáng kiến cộng đồng và Hỗ trợ khởi nghiệp tỉnh Bình Dương chính thức đi vào hoạt động</a>
                                <div>
                                    Sáng ngày 24/11/2019, Ủy ban nhân dân tỉnh đã tổ chức Lễ Khánh thành Trung tâm Sáng kiến cộng đồng và Hỗ trợ khởi nghiệp tỉnh Bình Dương, tại số 28 Huỳnh Văn Nghệ, P. Phú Lợi, TP. Thủ Dầu Một, Bình Dương.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/nu-tien-si-dua-khoa-hoc-tu-phong-thi-nghiem-ra-ban-phan-2437.html">
                                    <img src="/Media/ntmong/files/IMG20181011121911.jpg"></a>
                                <a href="/tin-tuc/nu-tien-si-dua-khoa-hoc-tu-phong-thi-nghiem-ra-ban-phan-2437.html">Nữ tiến sĩ đưa khoa học từ phòng thí nghiệm ra bàn phấn</a>
                                <div>
                                    Tiến sĩ Nguyễn Thị Liên Thương là nhân vật không còn xa lạ với giới nghiên cứu công nghệ sinh học trong nước. Đặc biệt trong thời gian gần đây, chị được xem là “gương mặt thương hiệu” của trường Đại học Thủ Dầu Một trong hoạt động chuyển giao khoa học công nghệ cho các đối tác doanh nghiệp.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/thai-lan-cong-nhan-them-mot-loai-tien-ao-2421.html">
                                    <img src="/Media/ntmong/files/Tien%20ao.jpg"></a>
                                <a href="/tin-tuc/thai-lan-cong-nhan-them-mot-loai-tien-ao-2421.html">Thái Lan công nhận thêm một loại tiền ảo</a>
                                <div>
                                    Ủy ban Chứng khoán và Giao dịch Thái Lan (Thai Sec) vừa chính thức công bố Lina là loại  tiền  điện  tử  thứ  8  được công nhận tại nước này, bên cạnh 7 loại tiền đã được công nhận hợp pháp là: Bitcoin, Ethereum, Bitcoin Cash, Ethereum Classic, Litecoin, Ripple, Stellar.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/thu-tuong-chu-tri-hop-thuong-truc-chinh-phu-ve-xay-dung-nghi-quyet-01-nam-2019-57.html">
                                    <img src="/Media/ResourceAdmin/images/Hinh%20Dang%20Tin%20Bai/Thu%20tuong%20Nguyen%20Xuan%20Phuc.jpg"></a>
                                <a href="/tin-tuc/thu-tuong-chu-tri-hop-thuong-truc-chinh-phu-ve-xay-dung-nghi-quyet-01-nam-2019-57.html">Thủ tướng chủ trì họp Thường trực Chính phủ về xây dựng Nghị quyết 01 năm 2019</a>
                                <div>

                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/cong-tac-chi-dao-kip-thoi-nham-thuc-day-phat-trien-kinh-te-va-nhung-net-dac-biet-ve-truyen-thong-ket-noi-chinh-quyen-dia-phuong-voi-nguoi-dan-va-doanh-nghiep-5.html">
                                    <img src="/Media/ResourceAdmin/files/cong-tac-chi-dao.jpg"></a>
                                <a href="/tin-tuc/cong-tac-chi-dao-kip-thoi-nham-thuc-day-phat-trien-kinh-te-va-nhung-net-dac-biet-ve-truyen-thong-ket-noi-chinh-quyen-dia-phuong-voi-nguoi-dan-va-doanh-nghiep-5.html">Công tác chỉ đạo kịp thời nhằm thúc đẩy phát triển kinh tế và những nét đặc biệt về truyền thống kết nối chính quyền địa phương với người dân và doanh nghiệp</a>
                                <div>
                                    Bình Dương nằm trong Vùng kinh tế trọng điểm phía Nam là khu vực phát triển năng động của cả nước; phía Bắc giáp tỉnh Bình Phước, phía Đông giáp tỉnh Đồng Nai, phía Nam giáp thành phố Hồ Chí Minh, phía Tây giáp tỉnh Tây Ninh và thành phố Hồ Chí Minh
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/tinh-hinh-thuc-hien-von-dau-tu-cong-tren-dia-ban-tinh-binh-duong-den-ngay-31-12-2017-4.html">
                                    <img src="/Media/ResourceAdmin/files/dau%20tu%20cong%2031-12.jpg"></a>
                                <a href="/tin-tuc/tinh-hinh-thuc-hien-von-dau-tu-cong-tren-dia-ban-tinh-binh-duong-den-ngay-31-12-2017-4.html">Tình hình thực hiện vốn đầu tư công trên địa bàn tỉnh Bình Dương đến ngày 31/12/2017</a>
                                <div>
                                    Ngân sách tỉnh đầu tư tập trung: Kế hoạch năm 2017 là 3.170,7 tỷ đồng, giá trị giải ngân 2.232,2 tỷ đồng, đạt 70,4% kế hoạch năm 2017
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/tinh-hinh-dang-ky-doanh-nghiep-trong-nuoc-nam-2017-tren-dia-ban-tinh-binh-duong-3.html">
                                    <img src="/Media/ResourceAdmin/files/tpm2.jpg"></a>
                                <a href="/tin-tuc/tinh-hinh-dang-ky-doanh-nghiep-trong-nuoc-nam-2017-tren-dia-ban-tinh-binh-duong-3.html">Tình hình đăng ký doanh nghiệp trong nước năm 2017 trên địa bàn tỉnh Bình Dương</a>
                                <div>
                                    Đến hết ngày 31/12, cả tỉnh có thêm 5.542 doanh nghiệp thành lập mới với số vốn đăng ký là 29.029 tỷ đồng, tăng 16,5% về số doanh nghiệp và tăng 39,5% về số vốn đăng ký so với cùng kỳ năm 2016.
                                </div>
                            </div>
                        </td>
			</tr><tr>
				<td>
                            <div class="_cs1 margin-bottom-10">
                                <a href="/tin-tuc/tinh-hinh-thuc-hien-von-dau-tu-cong-nam-2017-den-ngay-12-01-2018-tren-dia-ban-tinh-binh-duong-1.html">
                                    <img src="/Media/ResourceAdmin/files/dtc2017%20(2).jpg"></a>
                                <a href="/tin-tuc/tinh-hinh-thuc-hien-von-dau-tu-cong-nam-2017-den-ngay-12-01-2018-tren-dia-ban-tinh-binh-duong-1.html">Tình hình thực hiện vốn đầu tư công năm 2017 đến ngày 12/01/2018 trên địa bàn tỉnh Bình Dương</a>
                                <div>
                                    Đưa vào vận hành chính thức Nhà máy thu khí biogas phát điện thuộc dự án “Xây dựng Khu liên hợp xử lý chất thải rắn Nam Bình Dương”-giai đoạn II-được tài trợ từ vốn vay ODA của Chính phủ Phần Lan.
                                </div>
                            </div>
                        </td>
			</tr>
		</tbody></table>
	</div>
        </div>
        <span id="_parentidShowmenu" style="display: none">2</span>

</div>
<div id="ContentPlaceHolder1_ctl00_ctl00" style="display:none;" role="status" aria-hidden="true">

        <div class="UpdateProgress"></div>
        <div class="img_UpdateProgress">
            <img src="/images/ajax.gif"><br>
            Đang tải dữ liệu.
        </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('nav > ul > li').removeClass('active');
        $('#_menu' + $('#_parentidShowmenu').text()).addClass('active');
        _id = $('nav > ul > li.active'); //gan lại li active cho _id, _id nay duoc khai bao trong phan jquery cua menu
    });
</script>


            </div>
            <div class="navRight">


<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>CHUYÊN MỤC</div>
        </div>
    </div>
    <div class="chuyenmuc-detail">
        <ul>

            <li>

                <a href="/danh-muc-tin-tuc/dua-nghi-quyet-ve-khvacn-vao-cuoc-song.html">Đưa nghị quyết về KH&amp;CN vào cuộc sống</a>

                <div class="add-expand-detail"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <ul style="display: none;">

                    <li>

                        <a href="/danh-muc-tin-tuc/tin-tuc/tin-tuc.html">Tin tức</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/tim-hieu-nghi-quyet-ve-khvacn/tim-hieu-nghi-quyet-ve-khvacn.html">Tìm hiểu nghị quyết về KH&amp;CN</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/van-ban/van-ban.html">Văn bản</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/thao-luan/thao-luan.html">Thảo luận</a>

                    </li>

                </ul>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/cac-chuong-trinh-khvacn.html">Các chương trình KH&amp;CN</a>

                <div class="add-expand-detail"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <ul style="display: none;">

                    <li>

                        <a href="/danh-muc-tin-tuc/cac-chuong-trinh-khvacn-trong-diem/cac-chuong-trinh-khvacn-trong-diem.html">Các chương trình KH&amp;CN trọng điểm</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/cac-chuong-trinh-nghien-cuu-khoa-hoc-va-phat-trien-cong-nghe/cac-chuong-trinh-nghien-cuu-khoa-hoc-va-phat-trien-cong-nghe.html">Các chương trình nghiên cứu khoa học và phát triển công nghệ</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/cong-khai-van-ban/cong-khai-van-ban.html">Công khai văn bản</a>

                    </li>

                </ul>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/nhiem-vu-khvacn.html">Nhiệm vụ KH&amp;CN</a>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/nong-nghiep-nong-thon.html">Nông nghiệp - Nông thôn</a>

                <div class="add-expand-detail"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <ul>

                    <li>

                        <a href="/danh-muc-tin-tuc/ba-con-can-biet/ba-con-can-biet.html">Bà con cần biết</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/khoa-hoc-va-san-xuat/khoa-hoc-va-san-xuat.html">Khoa học và sản xuất</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/mo-hinh-moi-san-pham-moi/mo-hinh-moi-san-pham-moi.html">Mô hình mới - Sản phẩm mới</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/van-hoa-xa-hoi-nong-thon/van-hoa-xa-hoi-nong-thon.html">Văn hóa  - Xã hội nông thôn</a>

                    </li>

                </ul>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/thanh-tuu-khvacn.html">Thành tựu KH&amp;CN</a>

                <div class="add-expand-detail"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <ul>

                    <li>

                        <a href="/danh-muc-tin-tuc/cong-nghe/cong-nghe.html">Công nghệ</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/y-duoc/y-duoc.html">Y - Dược</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/tu-nhien/tu-nhien.html">Tự nhiên</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/moi-truong/moi-truong.html">Môi trường</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/nong-lam-ngu-nghiep/nong-lam-ngu-nghiep.html">Nông - Lâm - Ngư nghiệp</a>

                    </li>

                    <li>

                        <a href="/danh-muc-tin-tuc/xa-hoi-nhan-van/xa-hoi-nhan-van.html">Xã hội nhân văn</a>

                    </li>

                </ul>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/thu-vien-so.html">Thư viện số</a>

            </li>

            <li>

                <a href="/danh-muc-tin-tuc/thong-ke-khvacn.html">Thống kê KH&amp;CN</a>

            </li>

            <li>

                <a href="http://ttkhcn.khcnbinhduong.gov.vn/van-ban.html">Văn bản pháp luật</a>

            </li>

        </ul>
    </div>
</div>
<script type="text/javascript">
    $('.chuyenmuc-detail > ul > li').hover(function () {
        $('ul', this).show();
    }, function () {
        $('ul', this).hide();
    });
</script>

<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>
                THÔNG BÁO
                <span style="float: right">
                    <a style="color: #fff;" href="/thong-bao.html">Xem thêm</a>
                </span>
            </div>
        </div>
    </div>
    <div class="select-tinnoibat height-box-thongbao" style="position: relative; width: 244px; padding-right: 10px; outline: none; overflow: hidden;" id="_thongbaobar" tabindex="0">
        <div class="list_content" style="top: -111.54px;">
            <div class="text">
                <ul class="line-thongbao">

                            <li>
                                <a href="/Media/ntmong/files/NguoiPhatNgon.jpg">Người phát ngôn và cung cấp thông tin cho báo chí của Sở Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ntmong/files/54-TB_PDF.pdf">Công khai kết quả thanh lý tài sản cố định, công cụ dụng cụ của Văn phòng Sở Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ntmong/files/Thongbao53SKHCN.png">Thông báo về việc tiếp nhận hồ sơ và trả kết quả giải quyết thủ tục hành chính qua dịch vụ bưu chính công ích</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/tb1.docx">Hội thảo doanh nghiệp: Các giải pháp, ý tưởng đổi mới sáng tạo trong xây dựng thành phố thông minh Bình Dương</a>
                            </li>


                            <li>
                                <a href="/Media/ResourceAdmin/files/NoidungQuyche.pdf">Quyết định về việc ban hành Quy chế đánh giá, phân loại đối với đơn vị và công chức, viên chức của Bộ Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/3457_Q%C4%90-BKHCN.pdf">Quyết định Ban hành Kế hoạch triển khai thực hiện Nghị định số 61/2018/NĐ-CP ngày 23 ngày 4 năm 2018 của Chính phủ về thực hiện cơ chế một cửa, một cửa liên thông trong giải quyết thủ tục hành chính</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/Quyetdinhso3649.pdf">Quyết định về việc ban hành Quy chế đánh giá, phân loại đối với đơn vị và công chức, viên chức của Bộ Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/Vanbanphapluat/Nghiquyet119_2018_CP.pdf">Nghị quyết số 119/NQ-CP ngày 09 tháng 9 năm 2018 của Chính phủ về phiên họp Chính phủ thường kỳ tháng 8 năm 2018</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/VanBanGoc_Thongtu15_2016_BKHDT.pdf">Hướng dẫn lập hồ sơ mời sơ tuyển, hồ sơ mời thầu lựa chọn nhà đầu tư thực hiện dự án đầu tư theo hình thức đối tác công tư</a>
                            </li>

                </ul>
            </div>
        <div class="text">
                <ul class="line-thongbao">

                            <li>
                                <a href="/Media/ntmong/files/NguoiPhatNgon.jpg">Người phát ngôn và cung cấp thông tin cho báo chí của Sở Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ntmong/files/54-TB_PDF.pdf">Công khai kết quả thanh lý tài sản cố định, công cụ dụng cụ của Văn phòng Sở Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ntmong/files/Thongbao53SKHCN.png">Thông báo về việc tiếp nhận hồ sơ và trả kết quả giải quyết thủ tục hành chính qua dịch vụ bưu chính công ích</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/tb1.docx">Hội thảo doanh nghiệp: Các giải pháp, ý tưởng đổi mới sáng tạo trong xây dựng thành phố thông minh Bình Dương</a>
                            </li>


                            <li>
                                <a href="/Media/ResourceAdmin/files/NoidungQuyche.pdf">Quyết định về việc ban hành Quy chế đánh giá, phân loại đối với đơn vị và công chức, viên chức của Bộ Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/3457_Q%C4%90-BKHCN.pdf">Quyết định Ban hành Kế hoạch triển khai thực hiện Nghị định số 61/2018/NĐ-CP ngày 23 ngày 4 năm 2018 của Chính phủ về thực hiện cơ chế một cửa, một cửa liên thông trong giải quyết thủ tục hành chính</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/Quyetdinhso3649.pdf">Quyết định về việc ban hành Quy chế đánh giá, phân loại đối với đơn vị và công chức, viên chức của Bộ Khoa học và Công nghệ</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/Vanbanphapluat/Nghiquyet119_2018_CP.pdf">Nghị quyết số 119/NQ-CP ngày 09 tháng 9 năm 2018 của Chính phủ về phiên họp Chính phủ thường kỳ tháng 8 năm 2018</a>
                            </li>

                            <li>
                                <a href="/Media/ResourceAdmin/files/VanBanGoc_Thongtu15_2016_BKHDT.pdf">Hướng dẫn lập hồ sơ mời sơ tuyển, hồ sơ mời thầu lựa chọn nhà đầu tư thực hiện dự án đầu tư theo hình thức đối tác công tư</a>
                            </li>

                </ul>
            </div></div>
    </div><div style="position: absolute; z-index: 1; margin: 0px; padding: 0px; opacity: 0; display: block; left: 1004.2px; top: 620.6px;"><div class="enscroll-track track3" style="position: relative; height: 270px;"><a href="" class="handle3" style="position: absolute; z-index: 1; height: 69.1651px; top: 0px;"><div class="top"></div><div class="bottom"></div></a></div></div>
</div>
<script src="/js/troinoidung.js"></script>
<script type="text/javascript">
    //troi noi dung bang diem
    $(document).ready(function () {
        var heghtcontent = $(".list_content").height();
        if (parseFloat(heghtcontent) > 270) {
            $("#_thongbaobar").loopScroll({ speed: 30 });
        }
    });
</script>

        <div class="advs">
            <a href="/lich-cong-tac.html" target="_parent">
                <img src="/Media/ResourceAdmin/files/hopthucongtacvien.jpg">
            </a>
        </div>

        <div class="advs">
            <a href="http://ttkhcn.khcnbinhduong.gov.vn/danh-muc-tin-tuc/thong-tin-khvacn/he-sinh-thai-khoi-nghiep.html" target="_parent">
                <img src="/Media/ResourceAdmin/files/1552-banner-he-sinh-thai-khoi-nghiep-01.jpg">
            </a>
        </div>

        <div class="advs">
            <a href="http://ttkhcn.khcnbinhduong.gov.vn/danh-muc-tin-tuc/thong-tin-khvacn/cuoc-cach-mang-cong-nghiep-lan-thu-4.html" target="_parent">
                <img src="/Media/ResourceAdmin/files/79816-banner-cm-cn-lan-thu-4-01.jpg">
            </a>
        </div>

        <div class="advs">
            <a href="http://tuoitrebinhduong.vn/right/64/sach-hanh-trang-tri-thuc-khoi-nguon-sang-tao" target="_parent">
                <img src="/Media/ResourceAdmin/files/SACH%20HANH%20TRANG%20TRI%20THUC%20copy3.jpg">
            </a>
        </div>

        <div class="advs">
            <a href="/van-ban.html" target="_parent">
                <img src="/Media/ResourceAdmin/files/banner-cosodulieu(1).png">
            </a>
        </div>

        <div class="advs">
            <a href="http://techmart.khcnbinhduong.gov.vn" target="_parent">
                <img src="/Media/ResourceAdmin/files/sAN.png">
            </a>
        </div>



<div class="clear10"></div>
<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>
                <a style="color: #fff;display:block;" href="/video.html">VIDEO
                <span style="float: right;">
                    <i class="fa fa-angle-double-right"></i>
                </span>
                </a>
            </div>
        </div>
    </div>
    <div class="video-content video-content-video">

        <iframe width="100%" height="100%" src="//www.youtube.com/embed/Pp00DHHSfnk" frameborder="0" allowfullscreen=""></iframe>

    </div>
    <div class="list-video" id="_video" tabindex="0" style="width: 234px; padding-right: 15px; outline: none; overflow: hidden;">
        <ul>

                    <li style="cursor: pointer;">Đầu tư nước ngoài vào Bình Dương tiếp tục tăng cao 2014 - Bình Dương Land
                        <span style="display: none;">Pp00DHHSfnk</span>
                    </li>

                    <li style="cursor: pointer;">Sức hấp dẫn của môi trường đầu tư tại Bình Dương
                        <span style="display: none;">-U_bKROC6e4</span>
                    </li>

                    <li style="cursor: pointer;">Đầu tư của các doanh nghiệp Nhật Bản vào Bình Dương
                        <span style="display: none;">H-WFNEuJ3Zk</span>
                    </li>

        </ul>
    </div><div style="position: absolute; z-index: 1; margin: 0px; padding: 0px; opacity: 0; display: none; left: 1004.2px; top: 1685px;"><div class="enscroll-track track3" style="position: relative; height: 135px;"><a href="" class="handle3" style="position: absolute; z-index: 1; height: 135px;"><div class="top"></div><div class="bottom"></div></a></div></div>
</div>

<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>
                <a style="color: #fff; display: block;" href="/hinh-anh-hoat-dong.html">HÌNH ẢNH HOẠT ĐỘNG
                <span style="float: right;">
                    <i class="fa fa-angle-double-right"></i>
                </span>
                </a>
            </div>
        </div>
    </div>
    <div class="hinh-anh-hoat-dong" style="overflow: hidden;">

                <div class="img-slide" style="background-color: rgb(0, 0, 0); position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 254px; height: 160px;">
                    <a href="/Media/ResourceAdmin/files/view_pic.jpg" class="pirobox_gall_36 first last" title="Hình ảnh hoạt động" rel="1&amp;nbsp;of&amp;nbsp;1" rev="0" style="border: 2px dotted red;">
                        <img src="/Media/ResourceAdmin/files/view_pic.jpg">
                    </a>


                    <div class="description">
                        Hình ảnh hoạt động
                    </div>
                </div>

                <div class="img-slide" style="background-color: rgb(0, 0, 0); position: absolute; top: 0px; left: -254px; display: none; z-index: 2; opacity: 1; width: 254px; height: 160px;">
                    <a href="/Media/ResourceAdmin/files/dtc2017%20(1).jpg" class="pirobox_gall_38 first last" title="Hình ảnh hoạt động" rel="1&amp;nbsp;of&amp;nbsp;1" rev="1" style="border: 2px dotted red;">
                        <img src="/Media/ResourceAdmin/files/dtc2017%20(1).jpg">
                    </a>


                    <div class="description">
                        Hình ảnh hoạt động
                    </div>
                </div>

    </div>
</div>

<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>LIÊN KẾT HỮU ÍCH</div>
        </div>
    </div>
    <div style="padding: 5px;">
        <select name="test" class="lienkethuuich" onchange="window.open(this.options[this.selectedIndex].value,'_blank'); test.option[0].selected=true" size="1">
            <option>----Liên kết website----</option>

                    <option value="http://binhduong.gov.vn">Cổng thông tin điện tử Bình Dương</option>

                    <option value="http://mic.gov.vn/Pages/trangchu.aspx">Bộ Thông tin và Truyền thông</option>

                    <option value="https://www.most.gov.vn/">Cổng TTĐT Bộ Khoa học và Công nghệ</option>

                    <option value="http://khcnbinhduong.gov.vn">Sở Khoa học và Công nghệ Bình Dương</option>

        </select>
    </div>
</div>

<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>THĂM DÒ Ý KIẾN</div>
        </div>
    </div>
    <div style="padding: 5px">
        Bạn quan tâm nhiều nhất đến thông tin trong lĩnh vực nào sau đây?
        <div id="ctl19_ctl00_udtThamDoRadio">

        <hr>
        <table id="ctl19_ctl00_listThamDoRadio" class="table-thamdo" cellspacing="0" style="border-collapse:collapse;">
		<tbody><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_0" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl00$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl00$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Tin KH&amp;CN Bình Dương</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_1" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl01$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl01$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Tin KH&amp;CN Trong nước</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_2" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl02$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl02$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Tin KH&amp;CN Thế giới</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_3" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl03$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl03$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Khoa học thường thức</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_4" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl04$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl04$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Khoa học sản xuất</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_5" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl05$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl05$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Kết quả nghiên cứu KH&amp;CN trong và ngoài nước</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_6" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl06$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl06$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Cuộc cách mạng công nghiệp 4.0</div>
                </div>
            </td>
		</tr><tr>
			<td>
                <div style="width: 100%;">
                    <div style="float: left; width: 20px;">
                        <input id="ctl19_ctl00_listThamDoRadio_rdSelect_7" type="radio" name="ctl00$ctl19$ctl00$listThamDoRadio$ctl07$rdSelect" value="rdSelect" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl19$ctl00$listThamDoRadio$ctl07$rdSelect\',\'\')', 0)">
                    </div>
                    <div style="float: left; padding-left: 5px; padding-top: 2px; width: calc(100% - 25px);">Hệ sinh thái khởi nghiệp đổi mới sáng tạo</div>
                </div>
            </td>
		</tr>
	</tbody></table>
        <div style="width: 100%; text-align: center">
            <a onclick="_KiemTraDaChon(this,event);" id="ctl19_ctl00_LinkBinhChon" class="btn btn_primary_green" href="javascript:__doPostBack('ctl00$ctl19$ctl00$LinkBinhChon','')">Bình chọn</a>
            <a id="ctl19_ctl00_LinkXemKQ" class="btn btn_primary_green" href="javascript:__doPostBack('ctl00$ctl19$ctl00$LinkXemKQ','')">Xem kết quả</a>
        </div>
        <div class="thamdo-overlay"></div>
        <div class="thamdo-modelcontent" id="_thongbao1">
            <div class="thamdo-title">
                <img src="/images/icon_poll.png">
                <div class="title">KẾT QUẢ THĂM DÒ Ý KIẾN</div>
                <span style="float: right;">
                    <i id="_close_thamdo" style="cursor: pointer; padding-right: 5px;" class="fa fa-close" aria-hidden="true"></i>
                </span>
            </div>
            <div class="clear"></div>
            <div class="thamdo-content" id="_content1_thamdo" style="padding-bottom: 15px; padding-top: 15px; text-align: center;">
                <b>Hãy chọn một lựa chọn trước khi bình chọn</b>
            </div>
            <div class="thamdo-content" id="_content2_thamdo">
                <div style="background: #EDEDED; padding: 10px; color: #B04E57; margin-top: -3px; display: inline-block; width: calc(100% - 20px);">
                    <span id="ctl19_ctl00_lblDetail"></span>
                </div>
                <div class="clear10"></div>
                <span id="ctl19_ctl00_lblResult"></span>
                <br>
            </div>
        </div>

</div>
<div id="ctl19_ctl00_ctl00" style="display:none;" role="status" aria-hidden="true">

        <div class="UpdateProgress"></div>
        <div class="img_UpdateProgress">
            <img src="/images/ajax.gif"><br>
            Đang gửi ý kiến.
        </div>

</div>
<script type="text/javascript">
    function _KiemTraDaChon(button, event) {
        var count = 0;
        $('.table-thamdo input[type=radio]').each(function () {
            if ($(this).prop('checked') == true) {
                count++;
            }
        });
        if (count == 0) {
            event.preventDefault();
            $('.thamdo-overlay').addClass('thamdo-display');
            $('#_thongbao1').addClass('thamdo-display');
            $('#_content1_thamdo').addClass('thamdo-display');
        }
    }
    function _ShowKetQua_True() {
        $('.thamdo-overlay').addClass('thamdo-display');
        $('#_thongbao1').addClass('thamdo-display');
        $('#_content2_thamdo').addClass('thamdo-display');
    }
    function _CLoseThamDo() {
        $('#_close_thamdo').click(function () {
            $('.thamdo-overlay').removeClass('thamdo-display');
            $('#_thongbao1').removeClass('thamdo-display');
            $('#_content1_thamdo').removeClass('thamdo-display');
            $('#_content2_thamdo').removeClass('thamdo-display');
        });
    }
</script>

    </div>
</div>

        <div class="advs">
            <a href="/tham-van-y-kien.html" target="_parent">
                <img src="/Media/ResourceAdmin/files/gopyduthaovanban.jpg">
            </a>
        </div>

        <div class="advs">
            <a href="http://binhduongsmartcity.vn" target="_blank">
                <img src="/Media/ResourceAdmin/files/smartcityregion.png">
            </a>
        </div>

        <div class="advs">
            <a href="http://khcnbinhduong.gov.vn/" target="_blank">
                <img src="/Media/ResourceAdmin/files/LOGOSKHCNNN.PNG">
            </a>
        </div>

        <div class="advs">
            <a href="http://vbpl.vn/" target="_parent">
                <img src="/Media/ResourceAdmin/files/vbpl%20banner(1).jpg">
            </a>
        </div>

        <div class="advs">
            <a href="http://www.vista.gov.vn/UserPages/CosodulieuQuocgia/tabid/180/language/vi-VN/language/vi-VN/Default.aspx" target="_parent">
                <img src="/Media/ResourceAdmin/files/CSDLQG2.gif">
            </a>
        </div>

        <div class="advs">
            <a href="http://csdlqg.vista.gov.vn/" target="_parent">
                <img src="/Media/ResourceAdmin/files/tracunv.gif">
            </a>
        </div>

        <div class="advs">
            <a href="http://stdoc.vista.gov.vn/" target="_parent">
                <img src="/Media/ResourceAdmin/files/cong_bo.gif">
            </a>
        </div>

        <div class="advs">
            <a href="http://www.vista.gov.vn/UserPages/Tongluan/tabid/152/language/vi-VN/language/vi-VN/Default.aspx" target="_parent">
                <img src="/Media/ResourceAdmin/files/tongluan.gif">
            </a>
        </div>

        <div class="advs">
            <a href="http://www.vista.gov.vn/UserPages/tinhhinhtrangchu/tabid/205/language/vi-VN/language/vi-VN/Default.aspx" target="_parent">
                <img src="/Media/ResourceAdmin/files/TUAN1.jpg">
            </a>
        </div>


<div class="clear10"></div>
<div class="box-right">
    <div class="bar background-color">
        <div class="title_bar border-color-top">
            <div>THỐNG KÊ TRUY CẬP</div>
        </div>
    </div>
    <div style="padding: 7px">
        Tổng truy cập: 838686
        <div style="height: 5px;"></div>
        Đang online: 1
    </div>
</div>

            </div>
        </div>

<div class="clear10"></div>
<div class="_footer-column">
    <div class="_footer-column-2">
        <ul class="nolistsytle">

                    <li><a href="/">Trang chủ</a></li>

                    <li><a href="/sitemap.html">Site map</a></li>

                    <li><a href="/lien-he.html">Liên hệ</a></li>

                    <li><a href="/dong-gop-y-kien.html">Góp ý</a></li>

                    <li><a href="/hoi-dap.html">Hỏi đáp</a></li>

                    <li><a href="/danh-muc-tin-tuc/thong-tin-khvacn.html">Thông tin KH&amp;CN</a></li>

                    <li><a href="/danh-muc-tin-tuc/nghi-quyet.html">Nghị quyết</a></li>

                    <li><a href="/danh-muc-tin-tuc/dua-nghi-quyet-ve-khvacn-vao-cuoc-song.html">Đưa nghị quyết về KH&amp;CN vào cuộc sống</a></li>

                    <li><a href="/danh-muc-tin-tuc/cac-chuong-trinh-khvacn.html">Các chương trình KH&amp;CN</a></li>

        </ul>
    </div>
    <div class="_footer-column-2">
        <ul class="nolistsytle">

                    <li><a href="/danh-muc-tin-tuc/nhiem-vu-khvacn.html">Nhiệm vụ KH&amp;CN</a></li>

                    <li><a href="/danh-muc-tin-tuc/nong-nghiep-nong-thon.html">Nông nghiệp - Nông thôn</a></li>

                    <li><a href="/danh-muc-tin-tuc/thanh-tuu-khvacn.html">Thành tựu KH&amp;CN</a></li>

                    <li><a href="/danh-muc-tin-tuc/san-pham.html">Sản phẩm</a></li>

                    <li><a href="/danh-muc-tin-tuc/thu-vien-so.html">Thư viện số</a></li>

                    <li><a href="/danh-muc-tin-tuc/thong-ke-khvacn.html">Thống kê KH&amp;CN</a></li>

                    <li><a href="http://ttkhcn.khcnbinhduong.gov.vn/van-ban.html">Văn bản pháp luật</a></li>

                    <li><a href="/danh-muc-tin-tuc/dich-vu.html">Dịch vụ</a></li>

        </ul>
    </div>
</div>

<div class="clear5"></div>
<div class="menu-footer background-menu-footer">
    <a href="/"><i class="fa fa-home"></i>&nbsp;Trang chủ</a>
    <a href="/sitemap.html"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Site map</a>
    <a href="/lien-he.html"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Liên hệ</a>
    <a href="/dong-gop-y-kien.html"><i class="fa fa-wechat" aria-hidden="true"></i>&nbsp;Góp ý</a>
    <a href="/hoi-dap.html"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Hỏi đáp</a>
</div>
<div class="footer background-color">
    <div class="detail">
        <div class="detail-left">
            <p><span style="font-size:14px"><span style="color:#ffffff"><strong>SỞ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BÌNH DƯƠNG</strong><br>
Địa chỉ: Tầng 11-Tháp A, Trung tâm Hành chính tỉnh Bình Dương, phường Hòa Phú, thành phố Thủ Dầu Một, tỉnh Bình Dương<br>
Điện thoại Văn phòng Sở: &nbsp;(0274)&nbsp;3822924 &nbsp;- Fax: (0274) 3824421<br>
Email:&nbsp;</span><a href="mailto:binhduongcisti@gmail.com"><span style="color:#ffffff">sokhcn@binhduong.gov.vn</span></a><br>
<span style="color:#ffffff">Chịu trách nhiệm:&nbsp;Ông&nbsp;Nguyễn Bình Phước, Phó Giám&nbsp;đốc Sở Khoa học và Công nghệ</span></span><br>
&nbsp;</p>

<p><span style="color:#ffffff"><span style="font-size:14px"><strong>QUẢN LÝ WEBSITE:&nbsp;TRUNG TÂM THÔNG TIN VÀ THỐNG KÊ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BÌNH DƯƠNG</strong><br>
Địa chỉ: Số 26 Huỳnh Văn Nghệ, phường Phú Lợi, thành phố Thủ Dầu Một, tỉnh Bình Dương<br>
Điện thoại: &nbsp;(0274)&nbsp;3904667 - (0274)&nbsp;3904669 - Fax: (0274) 3856057<br>
Email:&nbsp;thongtinkhcn@binhduong.gov.vn</span></span></p>

        </div>
    </div>
</div>


        <div class="Loi" style="display: block;">
            <span id="LinkGoToTopPage" style="cursor: pointer;">
                &nbsp;
            </span>
        </div>
        <script src="/js/jq_session.js"></script>
        <script src="/js/jsAllProcess.js"></script>
        <script type="text/javascript">
            //goto top
            function ShowGoToTop() {
                $Loi = $('.Loi');
                var topsroll = $(document).scrollTop();
                if (topsroll > 0) {
                    $Loi.fadeIn(300);
                }
                else {
                    $Loi.fadeOut(300);
                }
            }
            $window = $(window);
            $window.scroll(function () {
                ShowGoToTop();
            });
            $.fn.scrollView = function () {
                return this.each(function () {
                    $('html, body').animate({
                        scrollTop: $(this).offset().top
                    }, 500);
                });
            }
            $('.Loi').click(function (event) {
                event.preventDefault();
                $('#headerTop').scrollView();
            });
            //invalid input
            $(document).ready(function () {
                var _arr_valid = [];
                $(document).ready(function () {
                    $('input[type=text],textarea').each(function () {
                        _arr_valid.push($(this).attr('id'));
                    });
                    _CheckInputValid(_arr_valid);
                });
            });
        </script>


<script type="text/javascript">
//<![CDATA[
_CLoseThamDo();Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ContentPlaceHolder1_ctl00_udtTinBai","displayAfter":500,"dynamicLayout":true}, null, null, $get("ContentPlaceHolder1_ctl00_ctl00"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ctl19_ctl00_udtThamDoRadio","displayAfter":500,"dynamicLayout":true}, null, null, $get("ctl19_ctl00_ctl00"));
});
//]]>
</script>
</form><div class="piro_overlay" style="display: none; opacity: 0.5; height: 706px; visibility: visible;"></div><table class="pirobox_content" cellpadding="0" cellspacing="0" style="display: none;"><tbody><tr><td colspan="3" class="pirobox_up"><div class="piro_close"></div></td></tr><tr><td class="t_l"></td><td class="t_c"></td><td class="t_r"></td></tr><tr><td class="c_l"></td><td class="c_c"><span><span></span></span><div></div><a href="#play" class="play" style="display: none;"></a></td><td class="c_r"></td></tr><tr><td class="b_l"></td><td class="b_c"></td><td class="b_r"></td></tr><tr><td colspan="3" class="pirobox_down"><div class="piro_nav"><div class="caption" style="opacity: 0.8; border-radius: 4px;"></div><a href="#prev" class="piro_prev"></a><a href="#next" class="piro_next"></a></div></td></tr></tbody></table>


</body>
</html>