{% extends 'base.html' %}

{% block title %}
	{{linhvuc.MaLinhVuc}}
{% endblock%}

{%block content %}
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="navbar-bottom" style="width: auto">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Linh vực</h1>
                    <div class="form-group">
                        {% csrf_token %}
                        <p id=""> Tên lĩnh vực: {{ linhvuc.Name }}</p>
                        <p id=""> Mã lĩnh vực: {{ linhvuc.MaLinhVuc }}</p>
                    </div>
                       <div class="card-body">
                          <a href="{% url 'news:linhvuc-edit' linhvuc.pk %}"> Update lĩnh vực</a> |
                          <a href="{% url 'news:linhvuc-delete' linhvuc.pk %}"> Delete lĩnh vực</a>
                       </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock%}