{% extends 'base.html' %}

{% block title %}
	Add New Post
{% endblock%}

{% block content %}
        <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="navbar-bottom" style="width: auto">
            <div class="p-5">
              <div class="text-center">
                <div class="form-group">
                   <form method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       <h1 class="h4 text-gray-900 mb-4">Tạo mới </h1>
                       {{ form.as_p }}
                       <input type="submit" class="btn btn-primary btn-user btn-block"value="Thêm"><br>
                       <a class="btn btn-primary btn-user btn-block" href="{% url "news:home-phongban" %}">Trở lại</a>
                     </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}