{% extends 'base.html'%}

{% block title %}
	Edit Post 
{% endblock%}

{% block content %}
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="navbar-bottom" style="width: auto">
                <div class="p-5">
                    <div class="text-center">
                    <div class="form-group">
                        <div class="form-group">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token%}
                                <h1 class="h4 text-gray-900 mb-4">Cập nhật</h1>

                                <p>
                                    <label for="id_MaTinBai">Mã tin bài:</label>
                                    <input class="form-control form-control-user" type="text" name="MaTinBai" value="{{ tinbai.MaTinBai }}" maxlength="30" required="" id="id_MaTinBai">
                                </p>
                                <p>
                                    <label for="id_Title">Tiêu đề:</label>
                                    <input class="form-control form-control-user" type="text" name="Title" value="{{ tinbai.Title }}" maxlength="200" required="" id="id_Title">
                                </p>
                                <p>
                                    <label for="id_Description">Mô tả ngắn:</label>
                                    <input class="form-control form-control-user" type="text" name="Description" value="{{ tinbai.Description}}" maxlength="500" required="" id="id_Description">
                                </p>
                                <p>
                                    <label for="id_Detail">Nội dung:</label>
                                    <input class="form-control form-control-user" type="text" name="Detail" value="{{ tinbai.Detail}}" maxlength="500" required="" id="id_Detail">
                                </p>
                                <p>
                                    <label for="id_Images">Hình ảnh</label><br> {{form.Images}}
                                </p>

                                <p>
                                    <label for="id_NgayDang">Ngày đăng</label>
                                    <input class="form-control" type="text" name="NgayDang" value="2020-10-28" required="" id="id_NgayDang">
                                </p>

                                <!-- <p>
                                <label for="id_TrangThai">TrangThai:</label>
                                <input class="form-control form-control-user" type="checkbox" name="{{ tinbai.TrangThai }}" id="id_TrangThai" checked=""></p> -->

                                <div><button>Update</button></div>
                            </form>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
{% endblock %}