{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 style="padding: 5px">Bài Viết<a href="{% url "news:tinbai-new" %}"><h2>Thêm</h2></a></h1>        </div>
        <div class="row">
            {% for foo in tinbai %}

                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header ">
                            Mã bài viết: <a href="{% url "news:tinbai-detail"  foo.pk%}">{{ foo.MaTinBai }}</a>
                        </div>
                        <div class="card-body">
                            Title: {{foo.Title}}<br>
                            <img src="{{ foo.Images.Image.url}}" alt="connect" style="max-height:400px; max-width: 450px"><br>

                            <a href="{% url 'news:tinbai-edit' foo.pk %}"> Update Phòng ban</a> |
                            <a href="{% url 'news:tinbai-delete' foo.pk %}"> Delete Phòng ban</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}