{% load static %}

<div class="footer background-color">
    <div class="detail">
        <div class="detail-left" style="padding: 5px;">
            <p><span style="font-size:14px"><span style="color:#ffffff"><strong>SỞ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BÌNH DƯƠNG</strong><br>
        Địa chỉ: Tầng 11-Tháp A, Trung tâm Hành chính tỉnh Bình Dương, phường Hòa Phú, thành phố Thủ Dầu Một, tỉnh Bình Dương<br>
        Điện thoại Văn phòng Sở: &nbsp;(0274)&nbsp;3822924 &nbsp;- Fax: (0274) 3824421<br>
        Email:&nbsp;</span><a href="mailto:binhduongcisti@gmail.com"><span style="color:#ffffff">sokhcn@binhduong.gov.vn</span></a><br>
        <span style="color:#ffffff">Chịu trách nhiệm:&nbsp;Ông&nbsp;Nguyễn Bình Phước, Phó Giám&nbsp;đốc Sở Khoa học và Công nghệ</span></span><br>
        &nbsp;</p>

        <p><span style="color:#ffffff"><span style="font-size:14px"><strong>QUẢN LÝ WEBSITE:&nbsp;TRUNG TÂM THÔNG TIN VÀ THỐNG KÊ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BÌNH DƯƠNG</strong><br>
        Địa chỉ: Số 26 Huỳnh Văn Nghệ, phường Phú Lợi, thành phố Thủ Dầu Một, tỉnh Bình Dương<br>
        Điện thoại: &nbsp;(0274)&nbsp;3904667 - (0274)&nbsp;3904669 - Fax: (0274) 3856057<br>
        Email:&nbsp;thongtinkhcn@binhduong.gov.vn</span></span></p>
        </div>
    </div>
</div>