 {% load  static %}
  <link href="{% static "Static_home_user/css/style.css" %}" rel="stylesheet">
    <link href="{% static "Static_home_user/css/styleResponsive.css" %}" rel="stylesheet">
    <link href="{% static "Static_home_user/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "Static_home_user/css/enscroll.css" %}" rel="stylesheet">
    <script src="{% static "Static_home_user/js/jquery-2.0.3.min.js" %}"></script>
    <script src="{% static "Static_home_user/js/enscroll-0.6.1.min.js" %}"></script>
    <script src="{% static "Static_home_user/js/jquery.cycle.all.js" %}"></script>
    <link href="{% static "Static_home_user/pirobox_style/piroboxstyle.css" %}" rel="stylesheet">
    <script src="{% static "Static_home_user/pirobox_style/js/piroBox.1_2_min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "Static_home_user/css/color2.css" %}">
     <script type="text/javascript">
        document.getElementById("id_q").value = "{{query}}"
    </script>
