{% extends "base_home_user.html" %}
{% load static %}
{%block contenthome%}
<div class="detail-content">        
        <div class="detail" style="padding:5px 0;">            
            <div>
<div style="text-align:justify">&nbsp;</div>
</div>

        </div>        
        <div class="baidadang">Giới thiệu khác:</div>
        <ul class="list-trangchu">
            
                    <li>
                        <a href="{% url 'news:gioithieu4' %}">Cơ cấu tổ chức Ban biên tập</a>
                    </li>
                
                    <li>
                        <a href="{% url 'news:gioithieu3' %}">Danh sách Ban biên tập</a>
                    </li>
                
                    <li>
                        <a href="{% url 'news:gioithieu2' %}">Quy chế vận hành cổng thông tin KH&CN</a>
                    </li>
                
        </ul>
    </div>

{%endblock%}