{% extends 'base.html'%}

{% block title %}
	Edit Post 
{% endblock%}

{% block content %}
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="navbar-bottom" style="width: auto">
                <div class="p-5">
                  <div class="text-center">
                    <div class="form-group">
                       <form method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                           <h1 class="h4 text-gray-900 mb-4">Cập nhật hình ảnh</h1>
                           <label for="id_MaHinhAnh">Mã image</label>
                           <input type="text"  name="MaHinhAnh"  maxlength="20" class="form-control form-control-user" id="id_MaHinhAnh" placeholder="Mã image"><br>
                           <label for="id_Name">Tên image:</label>
                           <input type="text"  name="Name" maxlength="200" required="" id="id_Name" class="form-control form-control-user" placeholder="Tên image">
                           <label for="id_Description">Mô Tả:</label>
                           <input type="text" name="Description" maxlength="300" required="" id="id_Description" class="form-control form-control-user"><br>

                           <label for="id_Image">Image:</label>
                           <input type="file" name="Image" accept="image/*" id="id_Image"class="form-control form-control-user">
                           <img src="{{ image.Image.url}}" alt="connect" style="max-height:300px">

                           <input type="submit" class="btn btn-primary btn-user btn-block"value="Thêm"><br>
                           <a class="btn btn-primary btn-user btn-block" href="{% url "news:home-image" %}">Trở lại</a>
                         </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>


{% endblock %}